/*
Core API

Marqeta's Core API endpoints, conveniently annotated to enable code generation (including SDKs), test cases, and documentation. Currently in beta.

API version: 3.0.19
Contact: support@marqeta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AccountDocumentsAPIService AccountDocumentsAPI service
type AccountDocumentsAPIService service

type AccountDocumentsAPIGetAccountDocumentsRequest struct {
	ctx context.Context
	ApiService *AccountDocumentsAPIService
	accountToken string
}

func (r AccountDocumentsAPIGetAccountDocumentsRequest) Execute() (*AccountDocumentsResponse, *http.Response, error) {
	return r.ApiService.GetAccountDocumentsExecute(r)
}

/*
GetAccountDocuments List documents

Retrieve an array of documents on a credit account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountToken Unique identifier of the credit account for which you want to get documents.  Send a `GET` request to `/credit/accounts` to retrieve existing credit account tokens.
 @return AccountDocumentsAPIGetAccountDocumentsRequest
*/
func (a *AccountDocumentsAPIService) GetAccountDocuments(ctx context.Context, accountToken string) AccountDocumentsAPIGetAccountDocumentsRequest {
	return AccountDocumentsAPIGetAccountDocumentsRequest{
		ApiService: a,
		ctx: ctx,
		accountToken: accountToken,
	}
}

// Execute executes the request
//  @return AccountDocumentsResponse
func (a *AccountDocumentsAPIService) GetAccountDocumentsExecute(r AccountDocumentsAPIGetAccountDocumentsRequest) (*AccountDocumentsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountDocumentsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountDocumentsAPIService.GetAccountDocuments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounts/{account_token}/documents"
	localVarPath = strings.Replace(localVarPath, "{"+"account_token"+"}", url.PathEscape(parameterValueToString(r.accountToken, "accountToken")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountDocumentsAPIGetDocumentByAccountAndTypeRequest struct {
	ctx context.Context
	ApiService *AccountDocumentsAPIService
	accountToken string
	documentType AccountAndDocumentAssetType
}

func (r AccountDocumentsAPIGetDocumentByAccountAndTypeRequest) Execute() (*AccountDocumentResponse, *http.Response, error) {
	return r.ApiService.GetDocumentByAccountAndTypeExecute(r)
}

/*
GetDocumentByAccountAndType Retrieve document

Retrieve a specific type of document on a credit account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountToken Unique identifier of the credit account for which to retrieve a specific type of document.  Send a `GET` request to `/credit/accounts` to retrieve existing credit account tokens.
 @param documentType
 @return AccountDocumentsAPIGetDocumentByAccountAndTypeRequest
*/
func (a *AccountDocumentsAPIService) GetDocumentByAccountAndType(ctx context.Context, accountToken string, documentType AccountAndDocumentAssetType) AccountDocumentsAPIGetDocumentByAccountAndTypeRequest {
	return AccountDocumentsAPIGetDocumentByAccountAndTypeRequest{
		ApiService: a,
		ctx: ctx,
		accountToken: accountToken,
		documentType: documentType,
	}
}

// Execute executes the request
//  @return AccountDocumentResponse
func (a *AccountDocumentsAPIService) GetDocumentByAccountAndTypeExecute(r AccountDocumentsAPIGetDocumentByAccountAndTypeRequest) (*AccountDocumentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountDocumentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountDocumentsAPIService.GetDocumentByAccountAndType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounts/{account_token}/documents/{document_type}"
	localVarPath = strings.Replace(localVarPath, "{"+"account_token"+"}", url.PathEscape(parameterValueToString(r.accountToken, "accountToken")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"document_type"+"}", url.PathEscape(parameterValueToString(r.documentType, "documentType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest struct {
	ctx context.Context
	ApiService *AccountDocumentsAPIService
	accountToken string
	documentType AccountAndDocumentAssetType
	count *int32
	startIndex *int32
	sortBy *string
}

// Number of account document resources to retrieve.
func (r AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest) Count(count int32) AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest {
	r.count = &count
	return r
}

// Sort order index of the first resource in the returned array.
func (r AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest) StartIndex(startIndex int32) AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest {
	r.startIndex = &startIndex
	return r
}

// Field on which to sort. Prefix the field name with a hyphen (&#x60;-&#x60;) to sort in descending order. Omit the hyphen to sort in ascending order.  *NOTE:* You must sort using system field names such as &#x60;effectiveDate&#x60;, and not by the field names appearing in response bodies such as &#x60;effective_date&#x60;.
func (r AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest) SortBy(sortBy string) AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest {
	r.sortBy = &sortBy
	return r
}

func (r AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest) Execute() (*AccountDocumentsPage, *http.Response, error) {
	return r.ApiService.GetDocumentHistoryByAccountAndTypeExecute(r)
}

/*
GetDocumentHistoryByAccountAndType Retrieve document history

Retrieve the history of a specific type of document on a credit account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountToken Unique identifier of the credit account for which to get document history.  Send a `GET` request to `/credit/accounts` to retrieve existing credit account tokens.
 @param documentType
 @return AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest
*/
func (a *AccountDocumentsAPIService) GetDocumentHistoryByAccountAndType(ctx context.Context, accountToken string, documentType AccountAndDocumentAssetType) AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest {
	return AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest{
		ApiService: a,
		ctx: ctx,
		accountToken: accountToken,
		documentType: documentType,
	}
}

// Execute executes the request
//  @return AccountDocumentsPage
func (a *AccountDocumentsAPIService) GetDocumentHistoryByAccountAndTypeExecute(r AccountDocumentsAPIGetDocumentHistoryByAccountAndTypeRequest) (*AccountDocumentsPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountDocumentsPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountDocumentsAPIService.GetDocumentHistoryByAccountAndType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounts/{account_token}/documents/{document_type}/history"
	localVarPath = strings.Replace(localVarPath, "{"+"account_token"+"}", url.PathEscape(parameterValueToString(r.accountToken, "accountToken")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"document_type"+"}", url.PathEscape(parameterValueToString(r.documentType, "documentType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	} else {
		var defaultValue int32 = 5
		r.count = &defaultValue
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_index", r.startIndex, "")
	} else {
		var defaultValue int32 = 0
		r.startIndex = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "")
	} else {
		var defaultValue string = "-effectiveDate"
		r.sortBy = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
