/*
Core API

Marqeta's Core API endpoints, conveniently annotated to enable code generation (including SDKs), test cases, and documentation. Currently in beta.

API version: 3.0.19
Contact: support@marqeta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// MCCGroupsAPIService MCCGroupsAPI service
type MCCGroupsAPIService service

type MCCGroupsAPIGetMccgroupsRequest struct {
	ctx context.Context
	ApiService *MCCGroupsAPIService
	mcc *string
	count *int32
	startIndex *int32
	sortBy *string
}

// Returns all MCC groups that contain the specified merchant category code.
func (r MCCGroupsAPIGetMccgroupsRequest) Mcc(mcc string) MCCGroupsAPIGetMccgroupsRequest {
	r.mcc = &mcc
	return r
}

// The number of resources to retrieve.
func (r MCCGroupsAPIGetMccgroupsRequest) Count(count int32) MCCGroupsAPIGetMccgroupsRequest {
	r.count = &count
	return r
}

// The sort order index of the first resource in the returned array.
func (r MCCGroupsAPIGetMccgroupsRequest) StartIndex(startIndex int32) MCCGroupsAPIGetMccgroupsRequest {
	r.startIndex = &startIndex
	return r
}

// Field on which to sort. Use any field in the resource model, or one of the system fields &#x60;lastModifiedTime&#x60; or &#x60;createdTime&#x60;. Prefix the field name with a hyphen (&#x60;-&#x60;) to sort in descending order. Omit the hyphen to sort in ascending order.
func (r MCCGroupsAPIGetMccgroupsRequest) SortBy(sortBy string) MCCGroupsAPIGetMccgroupsRequest {
	r.sortBy = &sortBy
	return r
}

func (r MCCGroupsAPIGetMccgroupsRequest) Execute() (*MCCGroupListResponse, *http.Response, error) {
	return r.ApiService.GetMccgroupsExecute(r)
}

/*
GetMccgroups List MCC groups

Use this endpoint to list all MCC groups defined in your program or list MCC groups that contain a specified code.

This endpoint supports <</core-api/field-filtering, field filtering>> and <</core-api/sorting-and-pagination, pagination>>.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MCCGroupsAPIGetMccgroupsRequest
*/
func (a *MCCGroupsAPIService) GetMccgroups(ctx context.Context) MCCGroupsAPIGetMccgroupsRequest {
	return MCCGroupsAPIGetMccgroupsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MCCGroupListResponse
func (a *MCCGroupsAPIService) GetMccgroupsExecute(r MCCGroupsAPIGetMccgroupsRequest) (*MCCGroupListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MCCGroupListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MCCGroupsAPIService.GetMccgroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mccgroups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.mcc != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mcc", r.mcc, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	} else {
		var defaultValue int32 = 10
		r.count = &defaultValue
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_index", r.startIndex, "")
	} else {
		var defaultValue int32 = 0
		r.startIndex = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "")
	} else {
		var defaultValue string = "-lastModifiedTime"
		r.sortBy = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MCCGroupsAPIGetMccgroupsTokenRequest struct {
	ctx context.Context
	ApiService *MCCGroupsAPIService
	token string
}

func (r MCCGroupsAPIGetMccgroupsTokenRequest) Execute() (*MccGroupModel, *http.Response, error) {
	return r.ApiService.GetMccgroupsTokenExecute(r)
}

/*
GetMccgroupsToken Retrieve MCC group

Use this endpoint to retrieve a specific MCC group.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the MCC group.
 @return MCCGroupsAPIGetMccgroupsTokenRequest
*/
func (a *MCCGroupsAPIService) GetMccgroupsToken(ctx context.Context, token string) MCCGroupsAPIGetMccgroupsTokenRequest {
	return MCCGroupsAPIGetMccgroupsTokenRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return MccGroupModel
func (a *MCCGroupsAPIService) GetMccgroupsTokenExecute(r MCCGroupsAPIGetMccgroupsTokenRequest) (*MccGroupModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MccGroupModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MCCGroupsAPIService.GetMccgroupsToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mccgroups/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MCCGroupsAPIPostMccgroupsRequest struct {
	ctx context.Context
	ApiService *MCCGroupsAPIService
	mccGroupModel *MccGroupModel
}

// MCC group
func (r MCCGroupsAPIPostMccgroupsRequest) MccGroupModel(mccGroupModel MccGroupModel) MCCGroupsAPIPostMccgroupsRequest {
	r.mccGroupModel = &mccGroupModel
	return r
}

func (r MCCGroupsAPIPostMccgroupsRequest) Execute() (*MccGroupModel, *http.Response, error) {
	return r.ApiService.PostMccgroupsExecute(r)
}

/*
PostMccgroups Create MCC group

Use this endpoint to create an MCC group.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MCCGroupsAPIPostMccgroupsRequest
*/
func (a *MCCGroupsAPIService) PostMccgroups(ctx context.Context) MCCGroupsAPIPostMccgroupsRequest {
	return MCCGroupsAPIPostMccgroupsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MccGroupModel
func (a *MCCGroupsAPIService) PostMccgroupsExecute(r MCCGroupsAPIPostMccgroupsRequest) (*MccGroupModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MccGroupModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MCCGroupsAPIService.PostMccgroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mccgroups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mccGroupModel == nil {
		return localVarReturnValue, nil, reportError("mccGroupModel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.mccGroupModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MCCGroupsAPIPutMccgroupsTokenRequest struct {
	ctx context.Context
	ApiService *MCCGroupsAPIService
	token string
	mccGroupUpdateModel *MccGroupUpdateModel
}

// MCC group
func (r MCCGroupsAPIPutMccgroupsTokenRequest) MccGroupUpdateModel(mccGroupUpdateModel MccGroupUpdateModel) MCCGroupsAPIPutMccgroupsTokenRequest {
	r.mccGroupUpdateModel = &mccGroupUpdateModel
	return r
}

func (r MCCGroupsAPIPutMccgroupsTokenRequest) Execute() (*MccGroupUpdateModel, *http.Response, error) {
	return r.ApiService.PutMccgroupsTokenExecute(r)
}

/*
PutMccgroupsToken Update MCC group

Use this endpoint to update an MCC group.
Include the `token` path parameter to identify the MCC group to update.
You must pass all the merchant category codes you want included in the group, including existing ones you want to retain.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token The unique identifier of the MCC group. Send a `GET` request to `/mccgroups` to retrieve MCC group tokens.
 @return MCCGroupsAPIPutMccgroupsTokenRequest
*/
func (a *MCCGroupsAPIService) PutMccgroupsToken(ctx context.Context, token string) MCCGroupsAPIPutMccgroupsTokenRequest {
	return MCCGroupsAPIPutMccgroupsTokenRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return MccGroupUpdateModel
func (a *MCCGroupsAPIService) PutMccgroupsTokenExecute(r MCCGroupsAPIPutMccgroupsTokenRequest) (*MccGroupUpdateModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MccGroupUpdateModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MCCGroupsAPIService.PutMccgroupsToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mccgroups/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.mccGroupUpdateModel == nil {
		return localVarReturnValue, nil, reportError("mccGroupUpdateModel is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.mccGroupUpdateModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
