/*
Core API

Marqeta's Core API endpoints, conveniently annotated to enable code generation (including SDKs), test cases, and documentation. Currently in beta.

API version: 3.0.19
Contact: support@marqeta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AdjustmentsAPIService AdjustmentsAPI service
type AdjustmentsAPIService service

type AdjustmentsAPICreateAdjustmentForAccountRequest struct {
	ctx context.Context
	ApiService *AdjustmentsAPIService
	accountToken string
	accountAdjustmentReq *AccountAdjustmentReq
}

func (r AdjustmentsAPICreateAdjustmentForAccountRequest) AccountAdjustmentReq(accountAdjustmentReq AccountAdjustmentReq) AdjustmentsAPICreateAdjustmentForAccountRequest {
	r.accountAdjustmentReq = &accountAdjustmentReq
	return r
}

func (r AdjustmentsAPICreateAdjustmentForAccountRequest) Execute() (*AccountAdjustmentResponse, *http.Response, error) {
	return r.ApiService.CreateAdjustmentForAccountExecute(r)
}

/*
CreateAdjustmentForAccount Create account adjustment

Create an adjustment for an existing credit account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountToken Unique identifier of the credit account for which you want to create an adjustment.  Send a `GET` request to `/credit/accounts` to retrieve existing credit account tokens.
 @return AdjustmentsAPICreateAdjustmentForAccountRequest
*/
func (a *AdjustmentsAPIService) CreateAdjustmentForAccount(ctx context.Context, accountToken string) AdjustmentsAPICreateAdjustmentForAccountRequest {
	return AdjustmentsAPICreateAdjustmentForAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountToken: accountToken,
	}
}

// Execute executes the request
//  @return AccountAdjustmentResponse
func (a *AdjustmentsAPIService) CreateAdjustmentForAccountExecute(r AdjustmentsAPICreateAdjustmentForAccountRequest) (*AccountAdjustmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountAdjustmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdjustmentsAPIService.CreateAdjustmentForAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounts/{account_token}/adjustments"
	localVarPath = strings.Replace(localVarPath, "{"+"account_token"+"}", url.PathEscape(parameterValueToString(r.accountToken, "accountToken")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountAdjustmentReq == nil {
		return localVarReturnValue, nil, reportError("accountAdjustmentReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accountAdjustmentReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdjustmentsAPIGetAdjustmentsByAccountRequest struct {
	ctx context.Context
	ApiService *AdjustmentsAPIService
	accountToken string
	count *int32
	startIndex *int32
}

// Number of account adjustment resources to retrieve.
func (r AdjustmentsAPIGetAdjustmentsByAccountRequest) Count(count int32) AdjustmentsAPIGetAdjustmentsByAccountRequest {
	r.count = &count
	return r
}

// Sort order index of the first resource in the returned array.
func (r AdjustmentsAPIGetAdjustmentsByAccountRequest) StartIndex(startIndex int32) AdjustmentsAPIGetAdjustmentsByAccountRequest {
	r.startIndex = &startIndex
	return r
}

func (r AdjustmentsAPIGetAdjustmentsByAccountRequest) Execute() (*AccountAdjustmentPage, *http.Response, error) {
	return r.ApiService.GetAdjustmentsByAccountExecute(r)
}

/*
GetAdjustmentsByAccount List account adjustments

Retrieve an array of adjustments for a credit account.

This endpoint supports <</core-api/sorting-and-pagination, pagination>>.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountToken Unique identifier of the credit account for which you want to retrieve adjustments.  Send a `GET` request to `/credit/accounts` to retrieve existing credit account tokens.
 @return AdjustmentsAPIGetAdjustmentsByAccountRequest
*/
func (a *AdjustmentsAPIService) GetAdjustmentsByAccount(ctx context.Context, accountToken string) AdjustmentsAPIGetAdjustmentsByAccountRequest {
	return AdjustmentsAPIGetAdjustmentsByAccountRequest{
		ApiService: a,
		ctx: ctx,
		accountToken: accountToken,
	}
}

// Execute executes the request
//  @return AccountAdjustmentPage
func (a *AdjustmentsAPIService) GetAdjustmentsByAccountExecute(r AdjustmentsAPIGetAdjustmentsByAccountRequest) (*AccountAdjustmentPage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountAdjustmentPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdjustmentsAPIService.GetAdjustmentsByAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounts/{account_token}/adjustments"
	localVarPath = strings.Replace(localVarPath, "{"+"account_token"+"}", url.PathEscape(parameterValueToString(r.accountToken, "accountToken")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	} else {
		var defaultValue int32 = 5
		r.count = &defaultValue
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_index", r.startIndex, "")
	} else {
		var defaultValue int32 = 0
		r.startIndex = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AdjustmentsAPIRetrieveAdjustmentRequest struct {
	ctx context.Context
	ApiService *AdjustmentsAPIService
	accountToken string
	adjustmentToken string
}

func (r AdjustmentsAPIRetrieveAdjustmentRequest) Execute() (*AccountAdjustmentResponse, *http.Response, error) {
	return r.ApiService.RetrieveAdjustmentExecute(r)
}

/*
RetrieveAdjustment Retrieve account adjustment

Retrieve an adjustment for a credit account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param accountToken Unique identifier of the credit account for which you want to retrieve an adjustment.  Send a `GET` request to `/credit/accounts` to retrieve existing credit account tokens.
 @param adjustmentToken Unique identifier of the adjustment to retrieve.  Send a `GET` request to `/credit/accounts/{account_token}/adjustments` to retrieve existing account adjustment tokens.
 @return AdjustmentsAPIRetrieveAdjustmentRequest
*/
func (a *AdjustmentsAPIService) RetrieveAdjustment(ctx context.Context, accountToken string, adjustmentToken string) AdjustmentsAPIRetrieveAdjustmentRequest {
	return AdjustmentsAPIRetrieveAdjustmentRequest{
		ApiService: a,
		ctx: ctx,
		accountToken: accountToken,
		adjustmentToken: adjustmentToken,
	}
}

// Execute executes the request
//  @return AccountAdjustmentResponse
func (a *AdjustmentsAPIService) RetrieveAdjustmentExecute(r AdjustmentsAPIRetrieveAdjustmentRequest) (*AccountAdjustmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountAdjustmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AdjustmentsAPIService.RetrieveAdjustment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounts/{account_token}/adjustments/{adjustment_token}"
	localVarPath = strings.Replace(localVarPath, "{"+"account_token"+"}", url.PathEscape(parameterValueToString(r.accountToken, "accountToken")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"adjustment_token"+"}", url.PathEscape(parameterValueToString(r.adjustmentToken, "adjustmentToken")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
