/*
Core API

Marqeta's Core API endpoints, conveniently annotated to enable code generation (including SDKs), test cases, and documentation. Currently in beta.

API version: 3.0.19
Contact: support@marqeta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PushToCardAPIService PushToCardAPI service
type PushToCardAPIService service

type PushToCardAPIGetPushtocardsDisburseRequest struct {
	ctx context.Context
	ApiService *PushToCardAPIService
	count *int32
	fields *string
	startIndex *int32
	sortBy *string
}

// Number of push-to-card disbursements to retrieve
func (r PushToCardAPIGetPushtocardsDisburseRequest) Count(count int32) PushToCardAPIGetPushtocardsDisburseRequest {
	r.count = &count
	return r
}

// Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
func (r PushToCardAPIGetPushtocardsDisburseRequest) Fields(fields string) PushToCardAPIGetPushtocardsDisburseRequest {
	r.fields = &fields
	return r
}

// Start index
func (r PushToCardAPIGetPushtocardsDisburseRequest) StartIndex(startIndex int32) PushToCardAPIGetPushtocardsDisburseRequest {
	r.startIndex = &startIndex
	return r
}

// Sort order
func (r PushToCardAPIGetPushtocardsDisburseRequest) SortBy(sortBy string) PushToCardAPIGetPushtocardsDisburseRequest {
	r.sortBy = &sortBy
	return r
}

func (r PushToCardAPIGetPushtocardsDisburseRequest) Execute() (*PushToCardDisburseListResponse, *http.Response, error) {
	return r.ApiService.GetPushtocardsDisburseExecute(r)
}

/*
GetPushtocardsDisburse Lists all push-to-card disbursements

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PushToCardAPIGetPushtocardsDisburseRequest
*/
func (a *PushToCardAPIService) GetPushtocardsDisburse(ctx context.Context) PushToCardAPIGetPushtocardsDisburseRequest {
	return PushToCardAPIGetPushtocardsDisburseRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PushToCardDisburseListResponse
func (a *PushToCardAPIService) GetPushtocardsDisburseExecute(r PushToCardAPIGetPushtocardsDisburseRequest) (*PushToCardDisburseListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PushToCardDisburseListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PushToCardAPIService.GetPushtocardsDisburse")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pushtocards/disburse"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	} else {
		var defaultValue int32 = 10
		r.count = &defaultValue
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_index", r.startIndex, "")
	} else {
		var defaultValue int32 = 0
		r.startIndex = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "")
	} else {
		var defaultValue string = "-createdTime"
		r.sortBy = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PushToCardAPIGetPushtocardsDisburseTokenRequest struct {
	ctx context.Context
	ApiService *PushToCardAPIService
	token string
	fields *string
}

// Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
func (r PushToCardAPIGetPushtocardsDisburseTokenRequest) Fields(fields string) PushToCardAPIGetPushtocardsDisburseTokenRequest {
	r.fields = &fields
	return r
}

func (r PushToCardAPIGetPushtocardsDisburseTokenRequest) Execute() (*PushToCardDisbursementResponse, *http.Response, error) {
	return r.ApiService.GetPushtocardsDisburseTokenExecute(r)
}

/*
GetPushtocardsDisburseToken Returns a specific push-to-card disbursement

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Push-to-card disbursement token
 @return PushToCardAPIGetPushtocardsDisburseTokenRequest
*/
func (a *PushToCardAPIService) GetPushtocardsDisburseToken(ctx context.Context, token string) PushToCardAPIGetPushtocardsDisburseTokenRequest {
	return PushToCardAPIGetPushtocardsDisburseTokenRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return PushToCardDisbursementResponse
func (a *PushToCardAPIService) GetPushtocardsDisburseTokenExecute(r PushToCardAPIGetPushtocardsDisburseTokenRequest) (*PushToCardDisbursementResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PushToCardDisbursementResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PushToCardAPIService.GetPushtocardsDisburseToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pushtocards/disburse/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PushToCardAPIGetPushtocardsPaymentcardRequest struct {
	ctx context.Context
	ApiService *PushToCardAPIService
	userToken *string
	count *int32
	fields *string
	startIndex *int32
	sortBy *string
}

// User token
func (r PushToCardAPIGetPushtocardsPaymentcardRequest) UserToken(userToken string) PushToCardAPIGetPushtocardsPaymentcardRequest {
	r.userToken = &userToken
	return r
}

// Number of push-to-card payment cards to retrieve
func (r PushToCardAPIGetPushtocardsPaymentcardRequest) Count(count int32) PushToCardAPIGetPushtocardsPaymentcardRequest {
	r.count = &count
	return r
}

// Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
func (r PushToCardAPIGetPushtocardsPaymentcardRequest) Fields(fields string) PushToCardAPIGetPushtocardsPaymentcardRequest {
	r.fields = &fields
	return r
}

// Start index
func (r PushToCardAPIGetPushtocardsPaymentcardRequest) StartIndex(startIndex int32) PushToCardAPIGetPushtocardsPaymentcardRequest {
	r.startIndex = &startIndex
	return r
}

// Sort order
func (r PushToCardAPIGetPushtocardsPaymentcardRequest) SortBy(sortBy string) PushToCardAPIGetPushtocardsPaymentcardRequest {
	r.sortBy = &sortBy
	return r
}

func (r PushToCardAPIGetPushtocardsPaymentcardRequest) Execute() (*PushToCardListResponse, *http.Response, error) {
	return r.ApiService.GetPushtocardsPaymentcardExecute(r)
}

/*
GetPushtocardsPaymentcard Returns all push-to-card payment card details

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PushToCardAPIGetPushtocardsPaymentcardRequest
*/
func (a *PushToCardAPIService) GetPushtocardsPaymentcard(ctx context.Context) PushToCardAPIGetPushtocardsPaymentcardRequest {
	return PushToCardAPIGetPushtocardsPaymentcardRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PushToCardListResponse
func (a *PushToCardAPIService) GetPushtocardsPaymentcardExecute(r PushToCardAPIGetPushtocardsPaymentcardRequest) (*PushToCardListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PushToCardListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PushToCardAPIService.GetPushtocardsPaymentcard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pushtocards/paymentcard"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userToken == nil {
		return localVarReturnValue, nil, reportError("userToken is required and must be specified")
	}

	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	} else {
		var defaultValue int32 = 10
		r.count = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "user_token", r.userToken, "")
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_index", r.startIndex, "")
	} else {
		var defaultValue int32 = 0
		r.startIndex = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "")
	} else {
		var defaultValue string = "-createdTime"
		r.sortBy = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PushToCardAPIGetPushtocardsPaymentcardTokenRequest struct {
	ctx context.Context
	ApiService *PushToCardAPIService
	token string
	fields *string
}

// Comma-delimited list of fields to return (e.g. field_1,field_2,..). Leave blank to return all fields.
func (r PushToCardAPIGetPushtocardsPaymentcardTokenRequest) Fields(fields string) PushToCardAPIGetPushtocardsPaymentcardTokenRequest {
	r.fields = &fields
	return r
}

func (r PushToCardAPIGetPushtocardsPaymentcardTokenRequest) Execute() (*PushToCardResponse, *http.Response, error) {
	return r.ApiService.GetPushtocardsPaymentcardTokenExecute(r)
}

/*
GetPushtocardsPaymentcardToken Returns a specific paymentcard object

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Push-to-card token
 @return PushToCardAPIGetPushtocardsPaymentcardTokenRequest
*/
func (a *PushToCardAPIService) GetPushtocardsPaymentcardToken(ctx context.Context, token string) PushToCardAPIGetPushtocardsPaymentcardTokenRequest {
	return PushToCardAPIGetPushtocardsPaymentcardTokenRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return PushToCardResponse
func (a *PushToCardAPIService) GetPushtocardsPaymentcardTokenExecute(r PushToCardAPIGetPushtocardsPaymentcardTokenRequest) (*PushToCardResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PushToCardResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PushToCardAPIService.GetPushtocardsPaymentcardToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pushtocards/paymentcard/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PushToCardAPIPostPushtocardsDisburseRequest struct {
	ctx context.Context
	ApiService *PushToCardAPIService
	pushToCardDisburseRequest *PushToCardDisburseRequest
}

func (r PushToCardAPIPostPushtocardsDisburseRequest) PushToCardDisburseRequest(pushToCardDisburseRequest PushToCardDisburseRequest) PushToCardAPIPostPushtocardsDisburseRequest {
	r.pushToCardDisburseRequest = &pushToCardDisburseRequest
	return r
}

func (r PushToCardAPIPostPushtocardsDisburseRequest) Execute() (*PushToCardDisbursementResponse, *http.Response, error) {
	return r.ApiService.PostPushtocardsDisburseExecute(r)
}

/*
PostPushtocardsDisburse Initiates a push-to-card money disbursement

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PushToCardAPIPostPushtocardsDisburseRequest
*/
func (a *PushToCardAPIService) PostPushtocardsDisburse(ctx context.Context) PushToCardAPIPostPushtocardsDisburseRequest {
	return PushToCardAPIPostPushtocardsDisburseRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PushToCardDisbursementResponse
func (a *PushToCardAPIService) PostPushtocardsDisburseExecute(r PushToCardAPIPostPushtocardsDisburseRequest) (*PushToCardDisbursementResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PushToCardDisbursementResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PushToCardAPIService.PostPushtocardsDisburse")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pushtocards/disburse"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.pushToCardDisburseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type PushToCardAPIPostPushtocardsPaymentcardRequest struct {
	ctx context.Context
	ApiService *PushToCardAPIService
	pushToCardRequest *PushToCardRequest
}

func (r PushToCardAPIPostPushtocardsPaymentcardRequest) PushToCardRequest(pushToCardRequest PushToCardRequest) PushToCardAPIPostPushtocardsPaymentcardRequest {
	r.pushToCardRequest = &pushToCardRequest
	return r
}

func (r PushToCardAPIPostPushtocardsPaymentcardRequest) Execute() (*PushToCardResponse, *http.Response, error) {
	return r.ApiService.PostPushtocardsPaymentcardExecute(r)
}

/*
PostPushtocardsPaymentcard Adds an external card to which funds will be pushed

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return PushToCardAPIPostPushtocardsPaymentcardRequest
*/
func (a *PushToCardAPIService) PostPushtocardsPaymentcard(ctx context.Context) PushToCardAPIPostPushtocardsPaymentcardRequest {
	return PushToCardAPIPostPushtocardsPaymentcardRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PushToCardResponse
func (a *PushToCardAPIService) PostPushtocardsPaymentcardExecute(r PushToCardAPIPostPushtocardsPaymentcardRequest) (*PushToCardResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PushToCardResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PushToCardAPIService.PostPushtocardsPaymentcard")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pushtocards/paymentcard"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.pushToCardRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
