/*
Core API

Marqeta's Core API endpoints, conveniently annotated to enable code generation (including SDKs), test cases, and documentation. Currently in beta.

API version: 3.0.19
Contact: support@marqeta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ProgramFundingSourcesAPIService ProgramFundingSourcesAPI service
type ProgramFundingSourcesAPIService service

type ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest struct {
	ctx context.Context
	ApiService *ProgramFundingSourcesAPIService
	count *int32
	startIndex *int32
	fields *string
	sortBy *string
	active *bool
}

// Number of resources to retrieve.
func (r ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest) Count(count int32) ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest {
	r.count = &count
	return r
}

// Sort order index of the first resource in the returned array.
func (r ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest) StartIndex(startIndex int32) ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest {
	r.startIndex = &startIndex
	return r
}

// Comma-delimited list of fields to return (&#x60;field_1,field_2&#x60;, and so on). Leave blank to return all fields.
func (r ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest) Fields(fields string) ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest {
	r.fields = &fields
	return r
}

// Field on which to sort. Use any field in the resource model, or one of the system fields &#x60;lastModifiedTime&#x60; or &#x60;createdTime&#x60;. Prefix the field name with a hyphen (&#x60;-&#x60;) to sort in descending order. Omit the hyphen to sort in ascending order.
func (r ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest) SortBy(sortBy string) ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest {
	r.sortBy = &sortBy
	return r
}

// If &#x60;true&#x60;, returns ACH funding sources from active programs only. If &#x60;false&#x60;, returns all ACH funding sources.
func (r ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest) Active(active bool) ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest {
	r.active = &active
	return r
}

func (r ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest) Execute() (*ACHListResponse, *http.Response, error) {
	return r.ApiService.GetAllACHFundingSourcesExecute(r)
}

/*
GetAllACHFundingSources List ACH program sources

List ACH program funding sources.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest
*/
func (a *ProgramFundingSourcesAPIService) GetAllACHFundingSources(ctx context.Context) ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest {
	return ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ACHListResponse
func (a *ProgramFundingSourcesAPIService) GetAllACHFundingSourcesExecute(r ProgramFundingSourcesAPIGetAllACHFundingSourcesRequest) (*ACHListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ACHListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProgramFundingSourcesAPIService.GetAllACHFundingSources")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/fundingsources/program/ach"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	} else {
		var defaultValue int32 = 5
		r.count = &defaultValue
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_index", r.startIndex, "")
	} else {
		var defaultValue int32 = 0
		r.startIndex = &defaultValue
	}
	if r.fields != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fields", r.fields, "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "")
	} else {
		var defaultValue string = "-lastModifiedTime"
		r.sortBy = &defaultValue
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProgramFundingSourcesAPIGetFundingsourcesProgramTokenRequest struct {
	ctx context.Context
	ApiService *ProgramFundingSourcesAPIService
	token string
}

func (r ProgramFundingSourcesAPIGetFundingsourcesProgramTokenRequest) Execute() (*ProgramFundingSourceResponse, *http.Response, error) {
	return r.ApiService.GetFundingsourcesProgramTokenExecute(r)
}

/*
GetFundingsourcesProgramToken Retrieve program source

Retrieve a specific program funding source, whether active or inactive.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the program funding source.
 @return ProgramFundingSourcesAPIGetFundingsourcesProgramTokenRequest
*/
func (a *ProgramFundingSourcesAPIService) GetFundingsourcesProgramToken(ctx context.Context, token string) ProgramFundingSourcesAPIGetFundingsourcesProgramTokenRequest {
	return ProgramFundingSourcesAPIGetFundingsourcesProgramTokenRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return ProgramFundingSourceResponse
func (a *ProgramFundingSourcesAPIService) GetFundingsourcesProgramTokenExecute(r ProgramFundingSourcesAPIGetFundingsourcesProgramTokenRequest) (*ProgramFundingSourceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProgramFundingSourceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProgramFundingSourcesAPIService.GetFundingsourcesProgramToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/fundingsources/program/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProgramFundingSourcesAPIPostFundingsourcesProgramRequest struct {
	ctx context.Context
	ApiService *ProgramFundingSourcesAPIService
	programFundingSourceRequest *ProgramFundingSourceRequest
}

func (r ProgramFundingSourcesAPIPostFundingsourcesProgramRequest) ProgramFundingSourceRequest(programFundingSourceRequest ProgramFundingSourceRequest) ProgramFundingSourcesAPIPostFundingsourcesProgramRequest {
	r.programFundingSourceRequest = &programFundingSourceRequest
	return r
}

func (r ProgramFundingSourcesAPIPostFundingsourcesProgramRequest) Execute() (*ProgramFundingSourceResponse, *http.Response, error) {
	return r.ApiService.PostFundingsourcesProgramExecute(r)
}

/*
PostFundingsourcesProgram Create program source

Create a program funding source.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProgramFundingSourcesAPIPostFundingsourcesProgramRequest
*/
func (a *ProgramFundingSourcesAPIService) PostFundingsourcesProgram(ctx context.Context) ProgramFundingSourcesAPIPostFundingsourcesProgramRequest {
	return ProgramFundingSourcesAPIPostFundingsourcesProgramRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ProgramFundingSourceResponse
func (a *ProgramFundingSourcesAPIService) PostFundingsourcesProgramExecute(r ProgramFundingSourcesAPIPostFundingsourcesProgramRequest) (*ProgramFundingSourceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProgramFundingSourceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProgramFundingSourcesAPIService.PostFundingsourcesProgram")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/fundingsources/program"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.programFundingSourceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProgramFundingSourcesAPIPostFundingsourcesProgramAchRequest struct {
	ctx context.Context
	ApiService *ProgramFundingSourcesAPIService
	baseAchRequestModel *BaseAchRequestModel
}

func (r ProgramFundingSourcesAPIPostFundingsourcesProgramAchRequest) BaseAchRequestModel(baseAchRequestModel BaseAchRequestModel) ProgramFundingSourcesAPIPostFundingsourcesProgramAchRequest {
	r.baseAchRequestModel = &baseAchRequestModel
	return r
}

func (r ProgramFundingSourcesAPIPostFundingsourcesProgramAchRequest) Execute() (*BaseAchResponseModel, *http.Response, error) {
	return r.ApiService.PostFundingsourcesProgramAchExecute(r)
}

/*
PostFundingsourcesProgramAch Create ACH program source

Create an ACH program funding source.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ProgramFundingSourcesAPIPostFundingsourcesProgramAchRequest
*/
func (a *ProgramFundingSourcesAPIService) PostFundingsourcesProgramAch(ctx context.Context) ProgramFundingSourcesAPIPostFundingsourcesProgramAchRequest {
	return ProgramFundingSourcesAPIPostFundingsourcesProgramAchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BaseAchResponseModel
func (a *ProgramFundingSourcesAPIService) PostFundingsourcesProgramAchExecute(r ProgramFundingSourcesAPIPostFundingsourcesProgramAchRequest) (*BaseAchResponseModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BaseAchResponseModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProgramFundingSourcesAPIService.PostFundingsourcesProgramAch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/fundingsources/program/ach"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.baseAchRequestModel
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ProgramFundingSourcesAPIPutFundingsourcesProgramTokenRequest struct {
	ctx context.Context
	ApiService *ProgramFundingSourcesAPIService
	token string
	programFundingSourceUpdateRequest *ProgramFundingSourceUpdateRequest
}

func (r ProgramFundingSourcesAPIPutFundingsourcesProgramTokenRequest) ProgramFundingSourceUpdateRequest(programFundingSourceUpdateRequest ProgramFundingSourceUpdateRequest) ProgramFundingSourcesAPIPutFundingsourcesProgramTokenRequest {
	r.programFundingSourceUpdateRequest = &programFundingSourceUpdateRequest
	return r
}

func (r ProgramFundingSourcesAPIPutFundingsourcesProgramTokenRequest) Execute() (*ProgramFundingSourceResponse, *http.Response, error) {
	return r.ApiService.PutFundingsourcesProgramTokenExecute(r)
}

/*
PutFundingsourcesProgramToken Update program source

Update a program funding source.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param token Unique identifier of the program funding source.
 @return ProgramFundingSourcesAPIPutFundingsourcesProgramTokenRequest
*/
func (a *ProgramFundingSourcesAPIService) PutFundingsourcesProgramToken(ctx context.Context, token string) ProgramFundingSourcesAPIPutFundingsourcesProgramTokenRequest {
	return ProgramFundingSourcesAPIPutFundingsourcesProgramTokenRequest{
		ApiService: a,
		ctx: ctx,
		token: token,
	}
}

// Execute executes the request
//  @return ProgramFundingSourceResponse
func (a *ProgramFundingSourcesAPIService) PutFundingsourcesProgramTokenExecute(r ProgramFundingSourcesAPIPutFundingsourcesProgramTokenRequest) (*ProgramFundingSourceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProgramFundingSourceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProgramFundingSourcesAPIService.PutFundingsourcesProgramToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/fundingsources/program/{token}"
	localVarPath = strings.Replace(localVarPath, "{"+"token"+"}", url.PathEscape(parameterValueToString(r.token, "token")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.programFundingSourceUpdateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
