/*
Core API

Marqeta's Core API endpoints, conveniently annotated to enable code generation (including SDKs), test cases, and documentation. Currently in beta.

API version: 3.0.19
Contact: support@marqeta.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VelocityControlsCardGroupBalanceAPIService VelocityControlsCardGroupBalanceAPI service
type VelocityControlsCardGroupBalanceAPIService service

type VelocityControlsCardGroupBalanceAPIListVelocityControlsCardGroupBalancesRequest struct {
	ctx context.Context
	ApiService *VelocityControlsCardGroupBalanceAPIService
	cardGroupToken string
}

func (r VelocityControlsCardGroupBalanceAPIListVelocityControlsCardGroupBalancesRequest) Execute() (*VelocityControlBalancePage, *http.Response, error) {
	return r.ApiService.ListVelocityControlsCardGroupBalancesExecute(r)
}

/*
ListVelocityControlsCardGroupBalances List Velocity Controls Card Group Balances

Get a list of all Velocity Controls Card Group Balances in the program

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cardGroupToken Unique identifier of the card group for which to retrieve balances.
 @return VelocityControlsCardGroupBalanceAPIListVelocityControlsCardGroupBalancesRequest
*/
func (a *VelocityControlsCardGroupBalanceAPIService) ListVelocityControlsCardGroupBalances(ctx context.Context, cardGroupToken string) VelocityControlsCardGroupBalanceAPIListVelocityControlsCardGroupBalancesRequest {
	return VelocityControlsCardGroupBalanceAPIListVelocityControlsCardGroupBalancesRequest{
		ApiService: a,
		ctx: ctx,
		cardGroupToken: cardGroupToken,
	}
}

// Execute executes the request
//  @return VelocityControlBalancePage
func (a *VelocityControlsCardGroupBalanceAPIService) ListVelocityControlsCardGroupBalancesExecute(r VelocityControlsCardGroupBalanceAPIListVelocityControlsCardGroupBalancesRequest) (*VelocityControlBalancePage, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VelocityControlBalancePage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VelocityControlsCardGroupBalanceAPIService.ListVelocityControlsCardGroupBalances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/velocitycontrols/cardgroup/{card_group_token}/available"
	localVarPath = strings.Replace(localVarPath, "{"+"card_group_token"+"}", url.PathEscape(parameterValueToString(r.cardGroupToken, "cardGroupToken")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
